<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>双向数据绑定</title>
</head>
<body>
    <div id="name">hello</div>
</body>
<script>
    let obj = {};
    Object.defineProperty(obj, 'name', {
        get(){
            console.log('获取name')
            return document.getElementById('name').innerHTML;
        },
        set(nick){
            console.log('设置name')
            document.getElementById('name').innerHTML = nick;
        }
    })
    obj.name = 'name';
    console.log(obj.name)
</script>
</html>